
<!--header div : Schedule-->
<div class="header">
  Available Courses
</div>
<!--main content div : result of schedule-->
<div class="greybody">
  <table class="schedulet">
    <tr class="schedulet">
      <th>Course Code</th>
      <th>Course Name</th>
      <th></th>
      <th></th>
    </tr>
   <%  @courses.each do |course| %>
        <tr class="schedulet">
          <td><%= course.course_code %></td>
          <td><%= course.name %></td>
          <td><%= link_to('Add',{:controller => 'User', :action => 'add_course', :id => course.id}) %></td>
          <td><%= link_to('Details',{:controller => 'Course', :action => 'show' , :id => course.id}) %></td>
        </tr>
    <%end%>
  </table>
</div>
