
<!--header div : Schedule-->
<div class="header">
  Available Courses
</div>
<!--main content div : result of schedule-->
<div class="greybody">
  <table class="schedulet">
    <tr class="schedulet">
      <th>Course Code</th>
      <th>Course Name</th>
      <th></th>
      <th></th>
    </tr>
        <tr>
          <td><%= @course.course_code %></td>
          <td><%= @course.name %></td>
        </tr>
        <tr class="schedulet">
          <td colspan="4" ><%= @course.description %></td>
        </tr>
  </table>
</div>