<!--title of the page & subtitle div-->
<div class="titleCont">
  <br/><br/>
  <span class="whiteFONT titleFONT">Courses Left to take:</span><br/>
  <span class="whiteFONT subtitleFONT"></span>
</div>
</div>

<!--main outer container div-->
<div class="whiteBCKG extend">
  <!-- inside container div-->
  <div class="mainContent">

    <table class="table">
      <tr></tr>
      <thead>
      <tr>
        <th>Course Dept</th>
        <th>Number</th>
        <th>Credits</th>
        <th>Course Name</th>
      </tr>
      </thead>
      <tbody>
      <% @listOfCourses.each do |course| %>
          <tr>
            <td><%= course.dept %></td>
            <td><%= course.number %></td>
            <td><%= course.credit %></td>
            <td><%= course.name %></td>
          </tr>

      <% end %>

      </tbody>
    </table>

  </div>
</div>