

<!--header div : Schedule-->
<div class="header">
Courses registered
</div>
<!--main content div : result of schedule-->
<div class="greybody">
<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Credits</th>
  </tr>
    <% $authorized_student.courses.each do |course| %>
      <tr>
        <td><%= "#{course.dept}#{course.number}"%></td>
        <td><%= course.name %></td>
        <td><%= course.credit %></td>
      </tr>
    <% end %>
  <tr><td></td><td>Total credits:</td><td><%= @totalCredits %></td> </tr>

</table>

</div>
