

<!--header div : Schedule-->
<div class="header">
Schedule
</div>
<!--main content div : result of schedule-->
<div class="greybody">
<table>
  <tr>
    <th>Course Dept</th>
    <th>Course Name</th>
    <th>Course Credits</th>
  </tr>

    <% $authorized_student.courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.name %></td>
        <td><%= course.credit %></td>
      </tr>
    <% end %>

</table>

</div>
