
<div class="topmain">
<hr class="blackline">
<img class="center" src="/assets/logogrey2.png" alt="logo">
<hr class="blackline">
<p style="font-family:helvetica; font-size:11px; color:#000000; letter-spacing:3px; font-weight:bold;">LINKS&nbsp; &nbsp; &nbsp;LINKS&nbsp; &nbsp; &nbsp;LINKS&nbsp; &nbsp; &nbsp;LINKS</p>
<hr class="blackline">
</div>

<!--<%= link_to('index',{:controller => 'login', :action => 'index'}) %>-->

<!--header div : Schedule-->
<div class="header">
Schedule
</div>
<!--main content div : result of schedule-->
<div class="greybody">
  <%= link_to('Add New Courses',{:controller => 'course', :action => 'index'}) %>
<table class="schedulet">
  <tr class="schedulet">
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Course Credits</th>
    <th>Course Description</th>
  </tr>
  <% @courses .each do |course| %>
  <tr class="schedulet">
    <td><% course.course_code %></td>
    <td><% course.name %></td>
    <td><% course.credits %></td>
    <td><% course.description %></td>
  </tr>
  <%end%>
</table>
  <%= link_to('Logout',{controller:'login' , action:'logout'}) %>
</div>
