

<!--header div : Schedule-->
<div class="header">
Schedule
</div>
<!--main content div : result of schedule-->
<div class="greybody">

<table class="schedulet">
  <tr class="schedulet">
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Course Credits</th>
    <th>Course Description</th>
  </tr>
  <% @courses .each do |course| %>
  <tr class="schedulet">
    <td><% course.course_code %></td>
    <td><% course.name %></td>
    <td><% course.credits %></td>
    <td><% course.description %></td>
  </tr>
  <%end%>
</table>

</div>
