

<!--header div : Schedule-->
<div class="header">
Schedule
</div>
<!--main content div : result of schedule-->
<div class="greybody">
  <% @allStudents.each do |student| %>
      <%= student.student_firstname %>
      <%= student.student_lastname %>
  <% end %>

<table >
  <tr >
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Course Credits</th>
    <th></th>
  </tr>
  <tr >
  </tr>
</table>

</div>
