<h1>SequenceMaker#index</h1>
<p>Find me in app/views/sequence_maker/index.html.erb</p>


<% @five_courses.each do |course| %>
    <%= course.dept %> <%= course.number %>  <br/>
<% end %>




<br/>
<br/>
