<h1>SequenceMaker#index</h1>
<p>Find me in app/views/sequence_maker/index.html.erb</p>


<% @one_year.each do |semesterCourses| %>

    <% semesterCourses.each do |course|  %>
        <%= course.dept %> <%= course.number %>  <br/>
    <% end %>
    <br/>
    <br/>
<% end %>




<br/>
<br/>
