    <!--title of the page & subtitle div-->
    <div class="titleCont">
      <br/><br/>
      <span class="whiteFONT titleFONT"></span><br/>
      <span class="whiteFONT subtitleFONT"></span>
    </div>
    </div>

<body>
    <p class="rich2">@complete_sequence TEST</p>
    <p class="rich2"> </p>
    <% @complete_sequence.each do |semester| %>
        <table class="rich2" style="width:20%" border="1">
          <tr>
            <th><%= semester[0] %></th>
          </tr>
        <% (1..semester.size - 1).each do |i| %>
          <tr>
            <td><%= semester[i] %></td>
          </tr>
        <% end %>
            </table></br>
    <% end %>






</body>
</html>
