<div class="greybody">
  <p style="color: black">Your profile has been updated. The following changes have been made: </p>
  <% @modified.each do |x| %>
      <p style="color: black">  <%= x %> </p>
  <% end %>
</div>